.footer-operation {
    height: 134px;
    box-shadow: 0 0 6px 0 #f2f2f2;
    display: flex;
    justify-content: space-between;
}
.footer-operation__btn-prev, .footer-operation__btn-next {
    background-color: #f2f2f2;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0 0 100px;
    text-align: center;
}
.footer-operation__btn-prev-icon, .footer-operation__btn-next-icon {
    height: 40px;
    width: 40px;
    display: block;
    margin-bottom: 2px;
}
.footer-operation__btn-next-icon {
    transform: rotate(180deg);
}
.footer-operation__btn-prev-text, .footer-operation__btn-next-text {
    font-size: 11px;
    line-height: 11px;
    color: #000;
}
.footer-operation__center-panel {
    flex: 0 0 calc(100% - 200px);
    display: flex;
}
.footer-operation__control {
    flex: 0 0 200px;
    height: 100%;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}
.footer-operation__control-head {
    text-align: center;
    background-color: #f2f2f2;
    color: #000;
}
.footer-operation__control-body {
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
}
.footer-operation__control-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 60px;
}
.fo-control__btn-icon {
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    color: #000;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fo-control__btn-text {
}