.header-dashboard {
    height: 60px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}
.toggle-view-cards {
    height: 100%;
}
.toggle-view-cards__list {
    display: flex;
    height: 100%;
}
.toggle-view-cards__item {
    width: 60px;
    background-color: #F2F2F2;
    padding: 14px 10px;
    &.is-active {
        background-color: lighten(blue, 20%);
        .toggle-view-cards__block-half, .toggle-view-cards__block-full {
            background-color: #fff;
        }
    }
}
.toggle-view-cards__item-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.toggle-view-cards__block-half, .toggle-view-cards__block-full {
    width: 100%;
    background-color: lighten(#000, 20%);
}
.toggle-view-cards__block-full {
    height: 100%;
}
.toggle-view-cards__block-half {
    height: 40%;
}
.auth-nav {
    
}
.auth-nav__list {
    height: 100%;
}
.auth-nav__item {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.auth-nav__item-inner{
    display: flex;
    align-items: center;
    .user-icon {
        font-size: 12px;
        margin: 8px;
        background-color: #000;
        color: #fff;
        padding: 4px 3.5px 0;
        border-radius: 50%;
        width: 18px;
        height: 18px;
    }
}
.header-dashboard__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 247px);
    padding: 0 10px;
}
.header-dashboard__links-wrapper {
    display: flex;
}
.header-dashboard__links {
    display: flex;
    padding: 0 10px;
}
.header-dashboard__link {
    padding: 0 10px;
    position: relative;
    &:after {
        content: '/';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        transform: translateX(50%);
    }
    &:last-child:after{
        display: none;
    }
}
.header__product-info {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.header__product-info-item {
    padding-right: 30px;
}
.header__product-info__icon {
    width: 20px;
    height: 20px;
    background-color: lightgray;
}
.header__product-info__label {
    font-size: 13px;
    display: block;
}
.header__product-info__value {
    font-size: 15px;
    display: block;
}
.pannel-group__text {
    max-width: 70px;
    display: block;
    line-height: 15px;
    padding-top: 8px;
}
.pannel-icon {
    i {
        height: 30px;
        font-size: 24px;
    }
}