.side-panel {
    flex: 0 0 90px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: calc(100vh - 194px);
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
       
    /* &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
       
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    } */
}
.side-panel__list {
    
}
.side-panel__item {
    display: block;
    font-size: 13px;
    padding: 20px 8px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    &.is-active, &:hover {
        background-color: #6666ff;
        color: #fff !important;
    }
}