/* default styles for all pages */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px; }

body {
  font-family: "Roboto"; }

.main {
  padding: 30px 0; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  line-height: 1.0;
  font-weight: bold;
  margin-bottom: 16px; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  * *:focus, *:before *:focus, *:after *:focus {
    outline: 0; }

img, audio, video {
  max-width: 100%;
  height: auto; }

audio, canvas, iframe, video, img, svg {
  vertical-align: middle; }

iframe {
  border: 0; }

input, textarea {
  color: rgba(0, 0, 0, 0.57);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 9px 28px;
  font-size: 13px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button {
  cursor: pointer; }

input::-webkit-input-placeholder {
  font-size: 12px; }

input:-ms-input-placeholder {
  font-size: 12px; }

input::-ms-input-placeholder {
  font-size: 12px; }

input::placeholder {
  font-size: 12px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

section {
  position: relative; }

::-webkit-input-placeholder {
  color: #ababab;
  font-size: 16px; }

::-moz-placeholder {
  color: #ababab;
  font-size: 16px; }

::-moz-placeholder {
  color: #ababab;
  font-size: 16px; }

::-ms-input-placeholder {
  color: #ababab;
  font-size: 16px; }

/* FONTS */
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

.input-wrap.invalid {
  border-color: #dc3545; }
  .input-wrap.invalid:focus {
    border-color: #dc3545;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); }

.input-wrap.modified.valid {
  border-color: #28a745; }
  .input-wrap.modified.valid:focus {
    border-color: #28a745;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); }

.validation-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545; }

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }

.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer; }

.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.checkbox:checked + label:before {
  background: #008cff; }

.checkbox:checked + label:after {
  left: 26px; }

.checkbox:focus + label:before {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px; }

.radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer; }

.radio + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF; }

.radio + label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: -webkit-radial-gradient(#fff 35%, #008cff 38%, #008cff);
  background: -o-radial-gradient(#fff 35%, #008cff 38%, #008cff);
  background: radial-gradient(#fff 35%, #008cff 38%, #008cff);
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.5); */
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.radio:checked + label:after {
  opacity: 1; }

/* .radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
} */
.task-state {
  background-color: lightgray;
  padding: 1px 12px;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  width: 120px; }
  .task-state.in-progress {
    background-color: green; }

.text-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .text-with-icon .icon {
    background-color: lightgray;
    border: 1px solid grey;
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
    height: 40px;
    margin-right: 8px; }

.operation-table {
  border: 1px solid lightgrey; }
  .operation-table th {
    background-color: #efefef;
    border: 1px solid lightgrey;
    padding: 4px 10px; }

.operation-table__row {
  border-bottom: 1px solid lightgrey; }

.btn-primary, .btn-warning, .btn-discount {
  width: 100%;
  position: relative;
  display: block;
  height: 35px;
  padding: 6px 4px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px 0 #dddede;
          box-shadow: 2px 2px 2px 0 #dddede;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Roboto";
  font-size: 14px; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-discount:hover, .btn-discount:active, .btn-discount:focus {
    -webkit-box-shadow: 2px 2px 2px 0 #dddede;
            box-shadow: 2px 2px 2px 0 #dddede; }

.btn-primary {
  border: 1px solid #0075ab;
  background: #0075ab;
  color: #fff; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    border: 1px solid #0075ab;
    background-color: #0075ab; }

.btn-warning {
  border: 1px solid #fbb216;
  background: #fbb216;
  color: #252525; }
  .btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    border: 1px solid #fbb216;
    background-color: #fbb216;
    color: #252525; }

.btn-discount {
  border: 1px solid #ff342e;
  background: #ff342e;
  color: #fff; }
  .btn-discount:hover, .btn-discount:active, .btn-discount:focus {
    border: 1px solid #ff342e;
    background-color: #ff342e;
    color: #fff; }

.table td, .table th {
  vertical-align: middle; }

.production-tables {
  padding: 20px 50px; }

.table-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .table-input input {
    width: 100%; }

.operation-table td {
  border: 1px solid lightgrey; }

@media screen and (max-width: 480px) {
  .header {
    width: 100%; } }

.block {
  width: 100px; }
  .block h1 {
    max-width: 100;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; }

@media screen and (max-width: 480px) {
  .footer .container {
    width: 100%; } }

.header-dashboard {
  height: 60px;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.toggle-view-cards {
  height: 100%; }

.toggle-view-cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.toggle-view-cards__item {
  width: 60px;
  background-color: #F2F2F2;
  padding: 14px 10px; }
  .toggle-view-cards__item.is-active {
    background-color: #6666ff; }
    .toggle-view-cards__item.is-active .toggle-view-cards__block-half, .toggle-view-cards__item.is-active .toggle-view-cards__block-full {
      background-color: #fff; }

.toggle-view-cards__item-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.toggle-view-cards__block-half, .toggle-view-cards__block-full {
  width: 100%;
  background-color: #333333; }

.toggle-view-cards__block-full {
  height: 100%; }

.toggle-view-cards__block-half {
  height: 40%; }

.auth-nav__list {
  height: 100%; }

.auth-nav__item {
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.auth-nav__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .auth-nav__item-inner .user-icon {
    font-size: 12px;
    margin: 8px;
    background-color: #000;
    color: #fff;
    padding: 4px 3.5px 0;
    border-radius: 50%;
    width: 18px;
    height: 18px; }

.header-dashboard__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 247px);
  padding: 0 10px; }

.header-dashboard__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-dashboard__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px; }

.header-dashboard__link {
  padding: 0 10px;
  position: relative; }
  .header-dashboard__link:after {
    content: '/';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%); }
  .header-dashboard__link:last-child:after {
    display: none; }

.header__product-info {
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__product-info-item {
  padding-right: 30px; }

.header__product-info__icon {
  width: 20px;
  height: 20px;
  background-color: lightgray; }

.header__product-info__label {
  font-size: 13px;
  display: block; }

.header__product-info__value {
  font-size: 15px;
  display: block; }

.pannel-group__text {
  max-width: 70px;
  display: block;
  line-height: 15px;
  padding-top: 8px; }

.pannel-icon i {
  height: 30px;
  font-size: 24px; }

.side-panel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: calc(100vh - 194px);
  overflow: auto;
  /* &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
       
    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    } */ }
  .side-panel::-webkit-scrollbar {
    width: 0; }

.side-panel__item {
  display: block;
  font-size: 13px;
  padding: 20px 8px;
  border-bottom: 1px solid #000;
  cursor: pointer; }
  .side-panel__item.is-active, .side-panel__item:hover {
    background-color: #6666ff;
    color: #fff !important; }

.footer-operation {
  height: 134px;
  -webkit-box-shadow: 0 0 6px 0 #f2f2f2;
          box-shadow: 0 0 6px 0 #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-operation__btn-prev, .footer-operation__btn-next {
  background-color: #f2f2f2;
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  text-align: center; }

.footer-operation__btn-prev-icon, .footer-operation__btn-next-icon {
  height: 40px;
  width: 40px;
  display: block;
  margin-bottom: 2px; }

.footer-operation__btn-next-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.footer-operation__btn-prev-text, .footer-operation__btn-next-text {
  font-size: 11px;
  line-height: 11px;
  color: #000; }

.footer-operation__center-panel {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 200px);
          flex: 0 0 calc(100% - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-operation__control {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  height: 100%;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2; }

.footer-operation__control-head {
  text-align: center;
  background-color: #f2f2f2;
  color: #000; }

.footer-operation__control-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 24px; }

.footer-operation__control-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px; }

.fo-control__btn-icon {
  width: 100%;
  height: 60px;
  background-color: #f2f2f2;
  color: #000;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.page-login {
  width: 100%;
  margin: 0 auto; }

.page-login__logo {
  display: inline-block;
  padding: 60px; }

.img-wrap {
  display: block;
  cursor: pointer; }
  .img-wrap img {
    width: 300px;
    height: 86px;
    border: 0; }

.page-login__container {
  padding: 100px 0;
  width: 768px;
  margin: auto; }

.shadow-block {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34902);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34902); }

.container-inner {
  width: 300px;
  margin: auto; }

.container-inner_clientlogo {
  display: inline-block;
  padding-bottom: 10px; }

label {
  display: block;
  cursor: pointer;
  line-height: 20px;
  clear: both;
  color: #222;
  margin: 6px 0 7px;
  text-transform: none; }

.input-wrap {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 14px;
  border: 1px solid #ced4da;
  border-radius: 5px; }

.formgroup-btn {
  margin-top: 30px; }

.btn-wrap {
  width: 300px;
  height: 60px;
  background: #169bd5;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34902);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34902);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.btn-wrap:hover {
  background: #16bcd5;
  color: #fff; }

.nav-panel-local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  color: #fff;
  padding: 5px 0; }

.nav-panel-local__operation .text {
  border-right: 2px solid #fff;
  padding: 2px 16px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  min-width: 200px;
  display: block; }

.nav-panel-local__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-reset: myCounter;
  list-style-type: none;
  padding: 0;
  margin: 0; }

.navigation__item {
  position: relative;
  padding-left: 30px;
  margin-left: 20px;
  line-height: 25px;
  cursor: pointer; }

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700; }

.navigation__link:after {
  position: absolute;
  top: 18px;
  left: 14px;
  width: 2px;
  color: #000; }

.navigation__link:before {
  content: counter(myCounter);
  counter-increment: myCounter;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 22px;
  padding: 0px;
  font-weight: 700;
  color: #000;
  background: #fff;
  text-align: center;
  border-radius: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.navigation__link:hover {
  color: #fff; }

.container-wrap {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34902);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.34902); }

.nav-panel-main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pannel-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2f2f2;
  width: 110px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  padding-top: 50px;
  padding-bottom: 30px; }
  .pannel-group:first-child {
    margin-left: 0; }

.pannel-icon {
  color: #000;
  text-decoration: none;
  font-size: 12px; }

.nav-panel-main__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.arrow-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.arrow-block {
  margin-left: 20px; }

.img-panel {
  padding: 60px 0; }

.vertical {
  margin: 20px 40px;
  border-right: 2px solid; }

.step a {
  color: grey; }

.img-panel {
  width: 100%; }

.img-panel-main {
  width: 60%;
  margin-left: 60px; }

h1 {
  font-size: 18px; }

.img-panel-main img {
  width: 100%; }

.pagination {
  width: 100%; }

.pagination_list {
  background: #999;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.page-link {
  border: 1px solid #fff;
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  background: #fff; }

.page-link:hover {
  background-color: #169bd5;
  color: white; }

.page-link .active {
  background-color: #169bd5;
  color: white; }

.nav-panel-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0; }

@media (max-width: 768px) {
  .navigation {
    /*flex-direction: row;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .nav-panel-local__operation p {
    font-size: 16px;
    text-align: center; } }

.main-operation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-content__note {
  display: block;
  margin-bottom: 20px; }

.main-content {
  -ms-flex-preferred-size: calc(100% - 100px);
      flex-basis: calc(100% - 100px);
  padding: 20px; }

.details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.details-operation {
  -ms-flex-preferred-size: calc(100% / 3 - 20px);
      flex-basis: calc(100% / 3 - 20px);
  margin-right: 20px; }

.details-operation__header {
  background: #f2f2f2;
  text-transform: uppercase;
  padding: 5px 15px;
  margin: 0; }

.details-operation__header {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 13px; }

.details-operation__body {
  padding-top: 20px; }

.fa-steam-square {
  color: #f2f2f2;
  font-size: 30px;
  background: #9e9e9e; }

.order-progress__data {
  color: #aaa;
  padding-bottom: 5px; }

.rejected {
  color: red; }

.order-progress__value {
  font-weight: bold; }

.progress-bar {
  height: 100%; }

.status-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.circle-status {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: grey; }
  .circle-status.green {
    background-color: green; }

@media (min-width: 911px) and (max-width: 1240px) {
  .details {
    font-size: 14px; }
  .details-operation {
    margin-bottom: 30px; } }

@media (max-width: 910px) {
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px; }
  .details-operation {
    margin-bottom: 30px; } }
