@import '../utils/vars';

.btn-primary, .btn-warning, .btn-discount{
    width: 100%;
    position: relative;
    display: block;
    height: 35px;
    padding: 6px 4px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 0 #dddede;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: $mainFont;
    font-size: 14px;
    &:hover, &:active, &:focus{
        box-shadow: 2px 2px 2px 0 #dddede;
    }
}

.btn-primary{
    border: 1px solid #0075ab;
    background: #0075ab;
    color: #fff;
    &:hover, &:active, &:focus{
        border: 1px solid #0075ab;
        background-color: #0075ab;
    }
}

.btn-warning{
    border: 1px solid #fbb216;
    background: #fbb216;
    color: #252525;
    &:hover, &:active, &:focus{
        border: 1px solid #fbb216;
        background-color: #fbb216;
        color: #252525;
    }
}

.btn-discount{
    border: 1px solid #ff342e;
    background: #ff342e;
    color: #fff;
    &:hover, &:active, &:focus{
        border: 1px solid #ff342e;
        background-color: #ff342e;
        color: #fff;
    }
}

