.input-wrap.invalid {
    border-color: #dc3545;
  
    &:focus {
      border-color: #dc3545;
      box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
    }
}
.input-wrap.modified.valid {
    border-color: #28a745;
  
    &:focus {
      border-color: #28a745;
      box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
    }
}
.validation-message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

// Start CHECKBOX
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.checkbox:checked + label:before {
    background: rgb(0, 140, 255);
}
.checkbox:checked + label:after {
    left: 26px;
}
.checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
// End CHECKBOX

//Start RADIO
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(#fff 35%, rgb(0, 140, 255) 38%, rgb(0, 140, 255));
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.5); */
    opacity: 0;
    transition: .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
/* .radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
} */
// End RADIO

.task-state {
    background-color: lightgray;
    padding: 1px 12px;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    width: 120px;
    &.in-progress {
        background-color: green;
    }
}
.text-with-icon {
    display: flex;
    align-items: center;
    .icon {
        background-color: lightgray;
        border: 1px solid grey;
        flex-basis: 40px;
        height: 40px;
        margin-right: 8px;
    }
    .text {

    }
}
.operation-table {
    border: 1px solid lightgrey;
    th {
        background-color: #efefef;
        border: 1px solid lightgrey;
        padding: 4px 10px;
    }
}
.operation-table__row {
    border-bottom: 1px solid lightgrey;
}