.table td, .table th {
    vertical-align: middle;
}

.production-tables {
    padding: 20px 50px;
}

.table-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
        width: 100%;
    }
}
.operation-table {
    td {
        border: 1px solid lightgrey;
    }
}