/* FONTS */

@font-face 
  font-family: 'OpenSansRegular'
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansSemiBold'
  src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'OpenSansBold'
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf')
  font-weight: normal
  font-style: normal