.nav-panel-local {
	display: flex;
	background: #000;
	color: #fff;
	padding: 5px 0;	
}
.nav-panel-local__operation .text {
	border-right: 2px solid #fff;
	padding: 2px 16px;
	margin: 0; 
	font-weight: 700;
	font-size: 18px;
	min-width: 200px;
	display: block;
}
.nav-panel-local__items {
    display: flex;
}
.navigation {
   	display: flex;
	justify-content: space-between;
	align-items: center;
    counter-reset: myCounter;
  	list-style-type: none;
    padding: 0;
    margin: 0;  
}
.navigation__item{
	position: relative;
    padding-left: 30px;
    margin-left: 20px;
    line-height: 25px;
    cursor: pointer;
}
.navigation__link {
 	text-decoration: none;
    color: #fff; 
    font-size: 14px;
    font-weight: 700;  
}
.navigation__link:after {
    position: absolute;
    top: 18px;
    left: 14px;
    width: 2px;
    color: #000;   
}
.navigation__link:before {
    content: counter(myCounter);
    counter-increment: myCounter;
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
	line-height: 22px;
    padding: 0px;
    font-weight: 700;
    color: #000;
    background: #fff;
    text-align: center;
	border-radius: 15px;
	transform: translateY(-50%);
}
.navigation__link:hover {
	// background-color: #169bd5;
	color: #fff;
}
.navigation__link:hover:before {
	// background-color: #169bd5;
	// color: #fff;	
}

.container-wrap {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}

.nav-panel-main__left  {
	// height: 146px;
	display: flex;
}
.pannel-group  {
	display: flex;
    justify-content: center;
    // align-items: center;
    background: #f2f2f2;
    width: 110px;
    text-align: center;
    line-height: 30px;
	font-size: 13px;
	padding-top: 50px;
	padding-bottom: 30px;
	&:first-child {
		margin-left: 0;
	}
}
 .pannel-icon {
 	color: #000;
	text-decoration: none;
	font-size: 12px; 
}
// .fas {
// 	font-size: 24px;
// }
.nav-panel-main__right {
	display: flex;
	justify-content: flex-end;
}
.arrow-group {
	display: flex;
	// margin-left: 40px;
}
.arrow-block{
	margin-left: 20px;
}
.img-panel {
	padding: 60px 0;	
}
.vertical {
    margin: 20px 40px;
    border-right: 2px solid;
}
.step a {
	color: grey;
}
.img-panel {
    width: 100%;    
}
.img-panel-main {
	width: 60%;
	margin-left: 60px;
}
h1 {
	font-size: 18px;
}
.img-panel-main img {
	width: 100%;
}
.pagination {
	width: 100%;
}
.pagination_list{
	background: #999;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
}
.page-link {
	border: 1px solid #fff;
	text-decoration: none;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	text-align: center;
	background: #fff;
}
.page-link:hover {
	background-color: #169bd5;
	color: white;
}
.page-link .active {
	background-color: #169bd5;
	color: white;
}
.nav-panel-main {
	display: flex;
	justify-content: space-between;
	border-radius: 0;
}
@media (max-width: 768px) {
.navigation {
	/*flex-direction: row;*/
	flex-direction: column;
}
.nav-panel-local__operation p {
    font-size: 16px;
    text-align: center;
}
}