.page-login {
	width: 100%;
	margin: 0 auto;
}
.page-login__logo {
	display: inline-block;
	padding: 60px;
}
.img-wrap {
	display: block;
    cursor: pointer;
    img {
        width: 300px;
        height: 86px;
        border: 0;
    }
}
.page-login__container {
	padding: 100px 0;
	width: 768px;
	margin: auto;
}
.shadow-block {
	border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
.container-inner {
	width: 300px;
	margin: auto;	
}
.container-inner_clientlogo {
	display: inline-block;
	padding-bottom: 10px; 
}
label {
	display: block;
	cursor: pointer; 
    line-height: 20px;
    clear: both;
    color: #222;
   	margin: 6px 0 7px;
    text-transform: none;
}
.input-wrap {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.formgroup-btn {
	margin-top: 30px;
}
.btn-wrap {
	width: 300px;
    height: 60px;
	background: #169bd5;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
	transition: all 0.5s ease;
}
.btn-wrap:hover {
	background: #16bcd5;
	color: #fff;
}