.main-operation {
    display: flex;
}
.main-content__note {
    display: block;
    margin-bottom: 20px;
}
.main-content {
    flex-basis: calc(100% - 100px);
    padding: 20px;
}
.details{
    width: 100%; 
    display: flex; 
}
.details-operation {
    flex-basis: calc(100% / 3 - 20px);
    margin-right: 20px;
}
.details-operation__header {
    background: #f2f2f2; 
    text-transform: uppercase;
    padding: 5px 15px; 
    margin: 0;       
}
.details-operation__header {
    font-weight: bold;
    margin-bottom: 0; 
    font-size: 13px;   
}
.details-operation__body {
    padding-top: 20px;
    // padding-right: 40px;
}
.fa-steam-square {
    color: #f2f2f2;
    font-size: 30px;
    background: #9e9e9e;
}
.order-progress__data {
    color: #aaa;
    padding-bottom: 5px; 
}
.rejected {
    color: red;
}
.order-progress__value {
    font-weight: bold;
}
.progress-bar {
    height: 100%;
}
.status-field {
    display: flex;
}
.circle-status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: grey;
    &.green {
        background-color: green;
    }
}

@media (min-width: 911px) and (max-width: 1240px){
.details {
    font-size: 14px;
    
}
.details-operation {
    margin-bottom: 30px; 
}
}
@media (max-width: 910px){
.details {
   flex-direction: column;
    font-size: 14px;
    
}
.details-operation {
    margin-bottom: 30px; 
}
}
