<footer class="footer-operation">
    <div class="footer-operation__btn-prev">
        <img src="/static/img/icon-nav.jpg" class="footer-operation__btn-prev-icon" />
        <span class="footer-operation__btn-prev-text">Previous Operation</span>
    </div>
    <div class="footer-operation__center-panel">
        <div class="footer-operation__control">
            <div class="footer-operation__control-head">
                <span>control</span>
            </div>
            <div class="footer-operation__control-body">
                <a href="#" class="footer-operation__control-btn">
                    <div class="fo-control__btn-icon">
                        ICN
                    </div>
                    <span class="fo-control__btn-text">start</span>
                </a>
                <a href="#" class="footer-operation__control-btn">
                    <div class="fo-control__btn-icon">
                        ICN
                    </div>
                    <span class="fo-control__btn-text">stop</span>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-operation__btn-next">
        <img src="/static/img/icon-nav.jpg" class="footer-operation__btn-next-icon" />
        <span class="footer-operation__btn-next-text">Next Operation</span>
    </div>
</footer>