<header class="header-dashboard">
    <div class="toggle-view-cards">
        <ul class="toggle-view-cards__list">
            <li class="toggle-view-cards__item">
                <div class="toggle-view-cards__item-inner">
                    <span class="toggle-view-cards__block-half"></span>
                    <span class="toggle-view-cards__block-half"></span>
                </div>
            </li>
            <li class="toggle-view-cards__item is-active">
                <div class="toggle-view-cards__item-inner">
                    <span class="toggle-view-cards__block-full"></span>
                </div>
            </li>
        </ul>
    </div>

    <div class="header-dashboard__main">
        <div class="header-dashboard__title-page">
            <span>Dashboard 1</span>
        </div>
        <div class="header-dashboard__links-wrapper">
            <nav class="header-dashboard__links">
                <a href="#" class="header-dashboard__link">Auto filter</a>
                <a href="#" class="header-dashboard__link">SU MNO_4X</a>
            </nav>
            <div class="btn-status">
                <span>In Progress</span>
            </div>
        </div>
    </div>

    <div class="auth-nav">
        <ul class="auth-nav__list">
            <li class="auth-nav__item">
                <div class="auth-nav__item-inner">
                    <i class="fas fa-user user-icon"></i>
                    <span>User Name</span>
                </div>
            </li>
        </ul>
    </div>
</header>