<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Title</title>

<!-- CSS style links -->
<link rel="stylesheet" href="css/libs.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">


<!-- FB -->
<!-- TODO: change content attribute  -->
<meta property="og:title"                   content="" />
<meta property="og:description"             content="" />
<meta property="og:url"                     content="" />
<meta property="og:type"                    content="" />
<meta property="og:image" itemprop="image"  content="img/favicon/1.jpg" />
<meta property="fb:app_id" content="идентификатор_вашего_приложения_Facebook" />

<!-- twitter -->
<!-- TODO: change content attribute  -->
<meta name="twitter:card"                   content="img/favicon/1.jpg" />
<meta name="twitter:title"                  content="#" />
<meta name="twitter:description"            content="#" />
<meta name="twitter:image"                  content="img/favicon/1.jpg" />

<!-- telegram -->
<!-- TODO: change content attribute  -->
<meta property="og:image"                   content="img/favicon/1.jpg">
<meta property="og:title"                   content="" />
<meta property="og:site_name"               content=""/>
<meta property="og:description"             content="" />
<meta property="og:image"                   content="img/favicon/1.jpg" />

<meta name="description"                    content="" />

<!-- TODO: change content attribute  -->
<!-- <link rel="shortcut icon"       href="static/img/favicon/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon"    href="static/img/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon"    href="static/img/favicon/apple-touch-icon-16x16.png" sizes="72x72">
<link rel="apple-touch-icon"    href="static/img/favicon/apple-touch-icon-32x32.png" sizes="114x114"> -->

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color"                    content="#000">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color"  content="#000">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#000">