<header>
  <div class="nav-panel">
    <div class="nav-panel-local ">
      <div class="nav-panel-local__operation">
        <span class="text">Operation start</span>
      </div>
      <nav class="nav-panel-local__items">
        <ol class="navigation">
          <li class="navigation__item">
            <a href="#" class="navigation__link">Knowledge</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Production info</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Equipment</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Printer</a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">Send</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="nav-panel-main container-wrap">	
      <div class="nav-panel-main__left pannel-group">
        <a class="pannel-icon" href="#"><i class="fas fa-times"></i><br>Cancel
        </a>
      </div>
      <div class="nav-panel-main__right">
        <div class="arrow-group">
          <div class="arrow-block pannel-group">
            <a class="pannel-icon" href="#"><i class="fas fa-backward"></i><br>Previous Record</a>
          </div>
          <div class="arrow-block pannel-group">
            <a class="pannel-icon" href="#"><i class="fas fa-forward"></i><br>Next Record</a>
          </div>
        </div>
        <div class="vertical">
        </div>
        <div class="arrow-group step">
          <div class="arrow-block  pannel-group">
            <a class="pannel-icon" href="#"><i class="fas fa-step-backward"></i><br>Previous Step</a>
          </div>
          <div class="arrow-block pannel-group">
            <a class="pannel-icon" href="#"><i class="fas fa-step-forward"></i><br>Next Step</a>
          </div>
        </div>	
      </div>
    </div>
  </div>
</header>