<div class="side-panel">
    <nav class="side-panel__list">
        <a class="side-panel__item is-active">Dashboard 1</a>
        <a class="side-panel__item">Dashboard 2</a>
        <a class="side-panel__item">Dashboard 3</a>
        <a class="side-panel__item">Quality</a>
        <a class="side-panel__item">KPI</a>
        <a class="side-panel__item">Knowledge</a>
        <a class="side-panel__item">Get & Use</a>
        <a class="side-panel__item">Equipment</a>
    </nav>
</div>