<nav aria-label="Page navigation" class="pagination">
    <ul class="pagination_list">
        <li class="active">
            <a class="page-link" href="#">1</a>
        </li>
        <li>
            <a class="page-link" href="#">2</a>
        </li>
        <li>
            <a class="page-link" href="#">3</a>
        </li>
    </ul>
</nav>